<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>用户菜单</title>

    <link rel="stylesheet" href="../User/UserMeun.css">
    <script src="../axios.min.js"></script>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>用户主页</h1>
    </header>
    <aside>
        <button @click="openHome()">查看热门帖子</button>
        <button @click="showPage('profile')">个人信息中心</button>
        <button @click="showPage('followedUsers')">关注的用户</button>
        <button @click="showPage('followedSections')">关注的板块</button>
        <button>我的帖子</button>
        <button>我的模块</button>
        <button @click="showPage('postHistory')">帖子足迹</button>

    </aside>
    <!-- 主内容区域 -->
    <main>



        <!-- 用户信息卡片 -->
        <div class="user-info" v-if="currentPage === 'profile'">
            <img :src="user.image" alt="用户头像">
            <h2>{{ user.UserName }}</h2>
            <p>ID：{{ user.user_id }}</p>
            <p>用户类型：{{ (user.admin)?'管理员':'普通用户' }}</p>
            <p>粉丝数：{{user.user_likes}}</p>
            <p>创建时间:{{user.create_time}}</p>
        </div>
        <!-- 关注的用户 -->


        <div class="follow-section" v-if="currentPage === 'followedUsers'">
            <h3>关注的用户</h3>
            <ul>
                <li v-for="user in followedUsers" >{{user.follow_user.UserName}}</li>
            </ul>
        </div>



        <!-- 关注的板块 -->
        <div class="follow-section" v-if="currentPage === 'followedSections'">
            <h3>关注的板块</h3>

            <div v-for="section in followedSections" :key="section" @click="InBoard(section.follow_board.board_id)">
                    <h4>{{ section.follow_board.title }}</h4>
                    <h5>{{ section.follow_board.content | truncate}}</h5>
            </div>

        </div>
        <!-- 用户看过的帖子 -->



        <div v-if="currentPage === 'postHistory'">
            <div   class="post" v-for="post in posts" :key="post.historyPost.post_id" @click="InPost(post.historyPost.post_id)" >
                <h3>{{ post.historyPost.title }}</h3>
                <p>{{ post.historyPost.content | truncate}}</p>
                    <div v-if="post.historyPost.image">
                        <img v-for="image in post.historyPost.image" :src="image" alt="帖子图片">
                    </div>

                <p>点赞数：{{ post.historyPost.likes }}</p>
            </div>
        </div>
    </main>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            currentPage: 'profile',
            user: {},
            followedUsers: [],
            followedSections: [],
            posts: [],
            post:[],


        },
        methods: {
            showPage(page) {
                this.currentPage = page;
            },

            openHome() {
                window.location.assign("../View/Home.html")
            },

            InPost(post_id) {
                window.open(`../View/Post.html?post_id=${post_id}`, "_blank");
            },
            InBoard(board_id) {
                window.open(`../View/Board.html?board_id=${board_id}`, "_blank")
            }

        },
        filters: {
            truncate(value) {
                if (typeof value === 'string') {
                    return value.length > 20? value.slice(0, 20) + "..." : value;
                }
                return '';
            }
        },
        beforeMount() {
            const urlParams = new URLSearchParams(window.location.search);
            this.user.user_id = urlParams.get('user_id');

            _this = this;

            axios.post("/User/Find/MyUser",{
                user_id: _this.user.user_id,
            }).then((response) => {
                _this.user = response.data;
                _this.followedUsers = _this.user.follow_user;
                _this.followedSections = _this.user.follow_board;
                _this.posts = _this.user.history_post;
            })

            // axios.post('../User/Find/HistoryPost',{post_id: _this.user_id}).then((response) => {
            //
            // })
        }
    });
</script>
</body>


</html>