<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发帖页面</title>
    <script src="../axios.min.js"></script>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="addPost.css">
</head>

<body>
<div id="app" class="container">
    <h1>发布新帖子</h1>
    <form @submit.prevent="submitPost">
        <!-- 帖子标题 -->
        <div class="form-group">
            <label for="title">帖子标题</label>
            <input type="text" id="title" v-model="post.title" placeholder="请输入帖子标题">
        </div>
        <!-- 帖子内容 -->
        <div class="form-group">
            <label for="content">帖子内容</label>

            <textarea id="content" rows="6" v-model="post.content" placeholder="请输入帖子内容"></textarea>
        </div>
        <!-- 帖子发布时间 -->
        <div class="form-group">
            <label for="publishTime">帖子发布时间</label>
            <h6>选择今天之前的默认为立刻发布</h6>
            <input type="datetime-local" id="publishTime" @change="getTime" v-model="create_time">
        </div>
        <!-- 图片上传 -->
        <div class="form-group">
            <label>帖子图片</label>
            <input type="file"  @change="handleFileChange">
        </div>
        <button type="submit">发布帖子</button>
    </form>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            create_time: '',
            board_title: '',
            board_id: '',
            image: "",
            post: {
                title: '',
                content: '',
                create_time: '',
                images: []
            }
        },
        methods: {
            handleFileChange(e) {
                const _this = this;
                const file = e.target.files[0];
                if (file!=null) {
                    const reader = new FileReader();
                    reader.onload = function (e) {

                        _this.image = e.target.result;

                    };
                    reader.readAsDataURL(file);
                }
            },

            getTime() {
                const value = this.create_time;
                const now = new Date();
                const seconds = String(now.getSeconds()).padStart(2, '0');
                this.post.create_time = value.replace('T', ' ') + `:${seconds}`;

            },

            submitPost() {

                const _this = this;

                axios.post("/User/Service/AddPost",{
                    title: _this.post.title,
                    content: _this.post.content,
                    create_time: _this.post.create_time,
                    image: _this.image,
                    board_id: _this.board_id,

                }).then(res =>{

                    if(res.data.status==403){
                        alert("你已被该模块封禁");
                    }else if(res.data == "OK"){
                        alert("发表成功");
                    }else {
                        alert("发布失败");
                    }
                })

            },
            InPost(post_id) {
                location.assign(`../View/Board.html?Board_id=${post_id}`);
            },
        },
        beforeMount() {
            const urlParams = new URLSearchParams(window.location.search);
            this.board_id = urlParams.get('board_id');
            this.board_title = urlParams.get('board_title');
            var _this = this;
        }
    });
</script>
</body>

</html>