<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帖子与板块查看页面</title>
    <script src="../axios.min.js"></script>
    <script src="../vue.js"></script>

    <link rel="stylesheet" href="../View/Home.css">

</head>

<body>
<div id="app">
    <!-- 添加搜索框 -->
    <div class="search-box">
        <input type="text" v-model="find" placeholder="搜索帖子或板块">
        <button @click="search()">搜索</button>
    </div>
    <div class="container">
        <div class="posts-section">
            <div class="toggle-buttons">
                <button :class="{ active: isLatestPosts }" @click="showLatestPosts">最新帖子</button>
                <button :class="{ active:!isLatestPosts }" @click="showPopularPosts">热门帖子</button>
            </div>
            <div class="post" v-for="post in filteredPosts" :key="post.post_id" @click="InPost(post.post_id)">
                <h3>{{ post.title }}</h3>
                <p>作者: {{ post.UserName }}</p>
                <p>{{post.content | truncate}}</p>
                <p>点赞量: {{ post.likes }}</p>
                <h5>发表时间：{{post.create_time}}</h5>
            </div>
        </div>
        <div  class="boards-section">
            <h2>热门板块</h2>
            <div class="board" v-for="i in filteredBoards" :key="i.board_id" @click="InBoard(i.board_id)">
                <h2>{{ i.title }}</h2>
                <h4>简介：{{i.content | truncate}}</h4>
                <p>关注人数: {{ i.likes }}</p>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            NewPost:[],
            HotPost:[],
            board: [],
            isLatestPosts: true,
            currentPosts: [],
            find:'',
            filteredPosts: [],
            filteredBoards: []
        },
        created() {
            this.currentPosts = this.NewPost;
            this.filteredPosts = this.NewPost;
        },
        methods: {
            showLatestPosts() {
                this.isLatestPosts = true;
                this.currentPosts = this.NewPost;
                this.filteredPosts = this.NewPost;
            },
            showPopularPosts() {
                this.isLatestPosts = false;
                this.currentPosts = this.HotPost;
                this.filteredPosts = this.HotPost;
            },
            search() {
                window.location.assign(`../View/Seek.html?find=${this.find}`);
            },
            InPost(post_id) {
                window.open(`../View/Post.html?post_id=${post_id}`, "_blank");
            },
            InBoard(board_id) {
                window.open(`../View/Board.html?board_id=${board_id}`, "_blank")
            },

        },
        beforeMount() {
            const _this = this;
            axios.post("/User/Find/UserManyBoardHot",).then(res => {
                const one = res.data;
                for (let i = 0; i < one.length; i++) {
                    _this.board.push(one[i]);
                }
                _this.filteredBoards = _this.board;
            })

            axios.post("/User/Find/UserManyPostHot").then(res => {
                const one = res.data;
                for (let i = 0; i < one.length; i++) {
                    _this.HotPost.push(one[i]);
                }
            })

            axios.post("/User/Find/UserManyPostNew").then(res => {
                const one = res.data;
                for (let i = 0; i < one.length; i++) {
                    _this.NewPost.push(one[i]);
                }
            })

        },
        filters: {
            truncate(value) {
                if (typeof value === 'string') {
                return value.length > 20? value.slice(0, 20) + "..." : value;
            }
                return '';
            }
        }

    });
</script>
</body>

</html>