<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帖子详情</title>
    <script src="../axios.min.js"></script>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="../View/Post.css">
</head>

<body>
<div id="post-app">
    <div class="post-container">

        <h2>模块：{{this.boardName}}</h2>

        <h1 class="post-title">{{ posts.title }}</h1>
        <p class="post-content">{{ posts.content }}</p>
        <img class="post-image" v-if="posts.image" :src="posts.image" alt="帖子图片">
        <div class="publisher-info">
            <span>发布者: {{ posts.UserName }}</span>
            <span>发布时间: {{ posts.create_time }}</span>
        </div>
        <!-- 添加关注/取关按钮 -->
        <button @click="isFollowing? cancelFollow(posts.user_id) : followUser(posts.user_id)">
            {{ isFollowing? '取关' : '关注' }}
        </button>
        <div class="actions">
            <button @click="isLiked? cancelLikePost(posts.post_id) : likePost(posts.post_id)">
                {{ isLiked? '取消点赞 (' + posts.likes + ')' : '点赞 (' + posts.likes + ')' }}
            </button>
            <!-- 添加AI解释按钮 -->
            <button @click="getAIExplanation">AI解释帖子内容</button>
        </div>
        <!-- 显示AI解释内容的区域 -->
        <div v-if="aiExplanation" class="ai-explanation">
            <h2>AI解释内容</h2>
            <p>{{ aiExplanation }}</p>
        </div>
        <div class="comments">
            <h2>评论 ()</h2>
            <div class="comment" v-for="comment in comments" :key="comment.comment_id">
                <div class="comment-author">{{ comment.UserName }}</div>
                <div class="comment-text">{{ comment.content }}
                    <h6>{{comment.create_time}}</h6>
                </div>
                <button @click="showReplyInput(comment)">回复</button>
                <div v-if="comment.showReplyInput">
                    <textarea v-model="comment.replyText" placeholder="请输入回复内容"></textarea>
                    <button @click="submitReply(comment)">提交回复</button>
                </div>
                <div class="reply" v-for="reply in comment.comment_comment" :key="reply.comment_id">
                    <div class="reply-author">
                        <h5>用户：{{ reply.UserName }}</h5>
                    </div>
                    <div class="reply-text"><h5>{{ reply.content }}</h5></div>
                </div>
            </div>
        </div>
        <div class="new-comment">
            <h2>发表评论</h2>
            <textarea v-model="newCommentText" placeholder="请输入评论内容"></textarea>
            <button @click="submitComment">提交评论</button>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#post-app',
        data: {
            boardName: '',
            posts: [],
            post: {},
            comments: [],
            newCommentText: '',
            isLiked: false, // 新增状态，用于追踪是否已点赞
            isFollowing: false, // 新增状态，用于追踪是否已关注用户
            aiExplanation: '' // 新增变量，用于存储AI解释内容
        },
        methods: {
            likePost(post_id) {
                let _this = this;
                axios.post("/User/Service/Like", {
                    post_id: post_id,
                }).then(res => {
                    if (res.data == "Yet") {
                        alert("你已经点赞过了");
                    } else {
                        _this.posts.likes++;
                        _this.isLiked = true; // 更新点赞状态
                    }
                })
            },
            cancelLikePost(post_id) {
                let _this = this;
                axios.post("/User/Service/UnLike", {
                    post_id: post_id,
                }).then(res => {
                    if (res.data == "NotLiked") {
                        alert("你还没有点赞过");
                    } else {
                        _this.posts.likes--;
                        _this.isLiked = false; // 更新点赞状态
                    }
                })
            },
            collectPost() {
                this.post.collects++;
            },
            submitComment() {
                let _this = this;
                if (this.newCommentText.trim()!== '') {

                    axios.post("/User/Service/addCommentToPost", {
                        content: this.newCommentText,
                        post_id: this.post_id,
                    }).then(res => {
                        _this.refresh();
                    })
                }
            },
            showReplyInput(comment) {
                this.$set(comment,'showReplyInput',!comment.showReplyInput);
            },
            submitReply(comment) {
                if (comment.replyText.trim()!== '') {
                    axios.post("/User/Service/addCommentToComment", {
                        post_id: comment.post_id,
                        comment_id: comment.comment_id,
                        content: comment.replyText,
                    }).then(res => {
                        this.refresh();
                    })

                    comment.showReplyInput = false;

                }
            },
            refresh() {
                let _this = this;

                axios.post("/User/Find/OnePost", { "post_id": this.post_id }).then((response) => {
                    _this.posts = response.data;
                    _this.posts.image = 'data:image/jpeg;base64,' + _this.posts.image;
                    _this.comments = _this.posts.PostComment;

                    for (let i = 0; i < _this.comments.length; i++) {
                        _this.comments[i].showReplyInput = false;
                    }

                    axios.post("/User/Find/OneBoard", {
                        board_id: _this.posts.board_id,
                    }).then((response) => {
                        _this.boardName = response.data.title;


                    })
                })
                for (let i = 0; i < _this.comments.length; i++) {
                    _this.comments[i].showReplyInput = false;
                }

            },
            followUser(userId) {
                let _this = this;
                axios.post("/User/Service/FollowUser", {
                    user_id: userId
                }).then(res => {
                    if (res.data === "OK") {
                        _this.isFollowing = true;
                    } else {
                        alert("关注失败");
                    }
                })
            },
            cancelFollow(userId) {
                let _this = this;
                axios.post("/User/Service/UnFollowUser", {
                    user_id: userId
                }).then(res => {
                    if (res.data === "OK") {
                        _this.isFollowing = false;
                    } else {
                        alert("取关失败");
                    }
                })
            },
            // 新增方法，用于获取AI解释内容
            getAIExplanation() {
                let _this = this;
                axios.post("/AI", {
                    content: this.posts.content,
                }).then(res => {
                    _this.aiExplanation = res.data.content;
                })
            }
        },
        beforeMount() {
            const urlParams = new URLSearchParams(window.location.search);
            this.post_id = urlParams.get('post_id');
            let _this = this;

            axios.post("/User/Find/OnePost", { "post_id": this.post_id }).then((response) => {
                _this.posts = response.data;
                _this.posts.image = 'data:image/jpeg;base64,' + _this.posts.image;
                _this.comments = _this.posts.PostComment;

                for (let i = 0; i < _this.comments.length; i++) {
                    _this.comments[i].showReplyInput = false;
                }

                axios.post("/User/Find/OneBoard", {
                    board_id: _this.posts.board_id,
                }).then((response) => {
                    _this.boardName = response.data.title;


                })
            })

            axios.post("/User/Service/isLike", {
                "post_id": this.post_id
            }).then((response) => {
                if (response.data == "like") {
                    _this.isLiked = true;
                } else {
                    _this.isLiked = false;
                }
            })

            // 检查是否已关注用户

            axios.post("/User/Service/isFollowUser", { "user_id": this.posts.user_id })
                .then((response) => {
                    this.isFollowing = response.data;
                });


        }
    });
</script>
</body>

</html>