<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帖子详情</title>
    <script src="../axios.min.js"></script>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="../View/Post.css">
</head>

<body>
<div id="post-app">
    <div class="post-container">
        <h1 class="post-title">{{ posts.title }}</h1>
        <p class="post-content">{{ posts.content }}</p>
        <img class="post-image" :src="posts.image" alt="帖子图片">
        <div class="publisher-info">
            <span>发布者: {{ posts.UserName }}</span>
            <span>发布时间: {{ posts.create_time }}</span>
        </div>
        <div class="actions">
            <!-- 根据 isLiked 状态显示不同的按钮文本和绑定不同的方法 -->
            <button @click="isLiked ? cancelLikePost(posts.post_id) : likePost(posts.post_id)">
                {{ isLiked ? '取消点赞 (' + posts.likes + ')' : '点赞 (' + posts.likes + ')' }}
            </button>
        </div>
        <div class="comments">
            <h2>评论 ()</h2>
            <div class="comment" v-for="comment in posts.PostComment" :key="comment.comment_id">
                <div class="comment-author">{{ comment.UserName }}</div>
                <div class="comment-text">{{ comment.content }}
                    <h6>{{comment.create_time}}</h6>
                </div>
                <button @click="showReplyInput(comment)">回复</button>
                <div class="reply-section" v-if="comment.showReplyInput">
                    <textarea v-model="comment.replyText" placeholder="请输入回复内容"></textarea>
                    <button @click="submitReply(comment)">提交回复</button>
                </div>
                <div class="reply" v-for="reply in comment.comment_comment" :key="reply.comment_id">
                    <div class="reply-author">
                        <h5>{{ reply.UserName }}</h5>
                    </div>
                    <div class="reply-text"><h5>{{ reply.content }}</h5></div>
                </div>
            </div>
        </div>
        <div class="new-comment">
            <h2>发表评论</h2>
            <textarea v-model="newCommentText" placeholder="请输入评论内容"></textarea>
            <button @click="submitComment">提交评论</button>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#post-app',
        data: {
            posts: [],
            post: {},
            comments: [],
            newCommentText: '',
            isLiked: false // 新增状态，用于追踪是否已点赞
        },
        methods: {
            likePost(post_id) {
                let _this = this;
                axios.post("/User/Service/Like", {
                    post_id: post_id,
                }).then(res => {
                    if (res.data == "Yet") {
                        alert("你已经点赞过了");
                    } else {
                        _this.posts.likes++;
                        _this.isLiked = true; // 更新点赞状态
                    }
                })
            },
            cancelLikePost(post_id) {
                let _this = this;
                axios.post("/User/Service/UnLike", {
                    post_id: post_id,
                }).then(res => {
                    if (res.data == "NotLiked") {
                        alert("你还没有点赞过");
                    } else {
                        _this.posts.likes--;
                        _this.isLiked = false; // 更新点赞状态
                    }
                })
            },
            collectPost() {
                this.post.collects++;
            },
            submitComment() {
                if (this.newCommentText.trim() !== '') {
                    const newComment = {
                        id: this.comments.length + 1,
                        author: '当前用户',
                        text: this.newCommentText,
                        showReplyInput: false,
                        replyText: '',
                        replies: []
                    };
                    this.comments.push(newComment);
                    this.newCommentText = '';
                }
            },
            showReplyInput(comment) {
                comment.showReplyInput = !comment.showReplyInput;
            },
            submitReply(comment) {
                if (comment.replyText.trim() !== '') {
                    const newReply = {
                        id: Date.now(),
                        author: '当前用户',
                        text: comment.replyText
                    };
                    comment.replies.push(newReply);
                    comment.replyText = '';
                    comment.showReplyInput = false;
                }
            }
        },
        beforeMount() {
            const urlParams = new URLSearchParams(window.location.search);
            this.post_id = urlParams.get('post_id');
            let _this = this;
            axios.post("/User/Find/OnePost", { "post_id": this.post_id }).then((response) => {
                _this.posts = response.data;
                _this.posts.image = 'data:image/jpeg;base64,' + _this.posts.image;

            })

            axios.post("/User/Service/isLike",{
                "post_id": this.post_id
            }).then((response) => {
                if(response.data == "like"){
                    _this.isLiked = true;
                }else {
                    _this.isLiked = false;
                }
            })

        }
    });
</script>
</body>

</html>