<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>帖子与模块切换页面</title>
  <link rel="stylesheet" href="../View/Seek.css">
  <script src="../axios.min.js"></script>
  <script src="../vue.js"></script>
</head>

<body>
<div id="app">
  <!-- 搜索框 -->
  <div class="search-container">
    <input v-model="seekFind" type="text" placeholder="搜索帖子或模块">
    <button @click="performSearch">搜索</button>
  </div>
  <!-- 切换按钮 -->
  <div class="toggle-buttons">
    <button :class="{ active: showPosts }" @click="showPosts = true">显示帖子</button>
    <button :class="{ active:!showPosts }" @click="showPosts = false">显示模块</button>
  </div>
  <!-- 帖子展示区域 -->
  <div v-if="showPosts">
    <div class="card" v-for="post in filteredPosts" :key="post.post_id" @click="InPost(post.post_id)">
      <h3>标题：{{ post.title }}</h3>
      <p>{{ post.content | truncate}}</p>
      <h4>发布者：{{post.user_id}}</h4>
      <h5>{{ post.create_time }}</h5>
    </div>
  </div>
  <!-- 模块展示区域  true帖子-->
  <div v-if="!showPosts">
    <div class="card" v-for="module in filteredModules" :key="module.board_id" @click="InModule(module.board_id)">
      <h3>{{ module.title }}</h3>
      <p>{{ module.content | truncate}}</p>
    </div>
  </div>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      showPosts: true,
      seekFind:'',
      posts: [],
      modules: [],
      filteredPosts: [],
      filteredModules: []
    },
    created() {
      this.filteredPosts = this.posts;
      this.filteredModules = this.modules;
    },
    methods: {

      performSearch(){
        _this = this;
        axios.post("/User/Find/NameManyBoardHot",{
          title:_this.seekFind,
        }).then(res =>{
          _this.filteredModules = res.data;
        })

        axios.post("/User/Find/TitleManyPostHot",{
          title:_this.seekFind,
        }).then(res =>{
          _this.filteredPosts= res.data;
        })


      },
      InPost(post_id){
        window.open(`../View/Post.html?post_id=${post_id}`, "_blank");
      },
      InModule(module_id){
        window.open(`../View/Board.html?board_id=${module_id}`, "_blank");
      }

    },
    beforeMount() {
      const urlParams = new URLSearchParams(window.location.search);
      this.seekFind = urlParams.get('find');
      const _this = this;
      _this.performSearch();
    },
    filters: {
      truncate(value) {
        if (typeof value === 'string') {
          return value.length > 20? value.slice(0, 20) + "..." : value;
        }
        return '';
      }
    }
  });
</script>
</body>

</html>    